
@model List<Artist>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Alvo Cifras Admin</title>

    @Html.Partial("~/Views/Shared/_Head.cshtml")

</head>

<body>
    <div class="">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/Admin/Songs">Músicas<span class="sr-only">(current)</span></a></li>
                    <li><a href="/Admin/Lyrics">Letras</a></li>
                    <li><a href="/Admin/Artist">Artistas</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">Músicas <a class="icon-right" href="/Admin/FormSongs" style="left: 0; position: relative;float:right;"> + Novo </a></h2>
                <div class="right"></div>

                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Criado em</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var artist in Model)
                                {
                                    <tr>
                                        <td>@artist.Name</td>
                                        <td>@artist.CreatedAt.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a class="btn btn-sm btn-outline sbold dark" title="Editar" href="/Admin/FormCategory/?id=@artist.Id">Editar</a>
                                            @*<a class="btn btn-sm btn-outline sbold dark btn-delete" title="Excluir" href="javascript:void(0)" data-discount="@category.Id">Excluir</a>*@
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="text-center">Nenhuma Música</p>
                    }
                </div>
            </div>
        </div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>

    $(document).ready(function () {
        $(".btn-delete").click(function () {
            var button = $(this);
            bootbox.confirm({
                message: "Deseja realmente excluir o categoria selecionado?",
                buttons: {
                    confirm: {
                        label: 'Sim',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Não',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result)
                        window.location.href = '/Admin/DeleteCategory/' + $(".btn-delete").attr("data-discount");
                }
            });
        });
    });

</script>
