.chord-sheet .chord {
  color: var(--primary);
  cursor: default;
  font-weight: 700;
  padding-top: 0.5rem;
}

.chord-sheet .chord:not(:last-child) {
  padding-right: 1px;
}

.chord-sheet .column:has(> div:empty) {
  .chord {
    margin-left: 20px;
  }
}

.chord-sheet .paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.chord-sheet .row {
  display: flex;
}

.chord-sheet .chord:after {
  content: '\200b';
}

.chord-sheet .lyrics:after {
  content: '\200b';
}
