@model AlvoCifras.Models.Songs

@{
    ViewData["Title"] = "Url";
}

<!DOCTYPE html>

<head>
    @Html.Partial("_Head")
</head>
<body>
    @Html.Partial("_Menu")



    <div class="container">
        <div class="row">
                @Html.Raw(ViewBag.Tabs)
        </div>
    </div>


    @Html.Partial("_Scripts")

</body>

