<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/Artists">
                    <span data-feather="user"></span>
                    Artistas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Songs">
                    <span data-feather="volume-2"></span>
                    Músicas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Lyrics">
                    <span data-feather="edit"></span>
                    Letras
                </a>
            </li>
        </ul>
    </div>
</nav>

