@model List<Songs>


@{
    ViewData["Title"] = "AllSongs";
}



<head>
    @Html.Partial("_Head")
</head>
<body>
    @Html.Partial("_Menu")
    <h1 class="text-center">Todas as Cifras</h1>
    <div class="container">
        <div class="row">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <a href="/Songs/Url/@item.Url">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    @Html.Partial("_Scripts")

</body>